.solid {
    border: 1px solid black;
}

.dashed {
    border: 1px dashed black;
}

.red {
    background-color: rgb(244, 91, 91);
}

.blue {
    background-color: rgb(90, 90, 160);
}

.green {
    background-color: rgb(75, 146, 75);
}
